@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*
font-family: 'Roboto', sans-serif; */

:root{
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: var(--colorGrisClaro);
}
body header{
    background-color: var(--colorAmarillo);
    padding-left: 10px;
}

body header div{
    padding-left: 10px;
}
body header div img{
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

body header div input.buscador{
    font-size: 1rem;
    width: 50%;
    
}
body header i{
    padding-left: 10px;
    
}

body header div.comprar{
    padding: 5px;
    text-align: center;
    margin-top: 15px;
}
body header div h4{
    display: inline;
}
body header nav{
    padding: 10px 0;
    display: none;
}
body header nav ul li{
    list-style: none;
}
body header nav ul.registro{
    margin-top: 20px;
}
body header div.buguer-menu{
    padding: 5px 0;
    text-align: center;
}
#menu{
    background-color: var(--colorCeleste);
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h3{
    font-size: 24px;
    margin-top: 15px;
}

body main img.banner{
    width: 100%;
}
body main section h3{
    margin: 10px;
    color: var(--colorGrisOscuro);
}
body main section article{
    margin: 10px;
}
body main section article img{
    width: 100%;
    border-bottom: 3px solid var(--colorGrisClaro);
}
body main section article div.description{
    
    padding: 15px;
}
body main section article i{
    color: var(--colorVerde);
    padding: 5px;
}
body main section article span{
    display: block;
    font-size: 18px;
}
body main section article.products{
    background-color: white;
}
body main section article p{
    font-size: 16px;
    color: var(--colorVerde);
}
body main section article h4{
    color: var(--colorGrisOscuro);
    margin-top: 15px;
    font-weight: 400;
}
/*footer*/
#icono{
    color: blue;
    font-size: 2rem;
}
footer{
    text-align: center;
    padding: 5%;
}
footer section{
    margin: 5%;
}
footer section p.copy{
    text-align: left;
    font-size: 13px;
    margin-top: 30px;
}
